
<!-- <div id="g_id_onload"
     data-client_id="860419357187-0rji6hlcv00ohib75icmonn16g48knid.apps.googleusercontent.com"
     data-context="signin"
     data-ux_mode="popup"
     data-login_uri="http://localhost:4200"
     data-itp_support="true">
</div>

<div class="g_id_signin"
     data-type="standard"
     data-shape="rectangular"
     data-theme="filled_blue"
     data-text="signin_with"
     data-size="large"
     data-logo_alignment="left">
</div> -->
<!-- <div id="google-btn">

</div> -->

<router-outlet />